.aboutH{
    background-color: #8072b3;
    padding-top: 20px;
    color: white;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.about{
    background-color: #8072b3;
    padding: 20px;
    display: flex;
    color: white;
    flex-direction: row;
}

.about .textSection{
    flex: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #e1e1ec;
    text-align: justify;
}
.about .graphic{
    flex: 50%;
    
}
.about ul li{
    list-style-type:none;
}
.highlight{
    font-weight: 700;
    color: white;
}
.textSection h1{
    color: white;
}
.about .graphic img{
    width:70%;
    padding:20px;
    align-items: right;
    margin-left: 80px;
}
@media (max-width: 600px) {
    .about{flex-direction: column;}
}