nav{
    background-color: #ecedff;
    color: #4f5488;
    top: 0;
    position: sticky;
    padding: 20px;
    justify-content:space-between;
   
    
    display: flex;
    
   
}
nav a{
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  color: inherit;
  
}
nav a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
}

li button{
  border: none;
  border-radius: 4px;
  background-color: #ecedff;
  color: #4f5488;
  padding: 8px 2px;
  margin: 5px;
}


li a {
   
    
    padding: 20px 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    letter-spacing: 1px;

  }

a:hover{
  background-color: #4f5488;
  border-radius: 4px;
  
}
.logo:hover{
  background-color: transparent;
}
button:hover{
  color: white;
}
.resume a{
  background-color:  #9297c1;
  border-radius: 4px;
  
}
.resume{
  color: white;
}

  @media only screen and (max-width: 600px) {
nav{
   border-bottom: 1px solid #4f5488; 
   padding: 0;
}
nav a{
  padding-left:10px ;
}
    li{
      padding: 10px;
    }
  }
