
.bodyExp h1{
    
    padding-bottom: 30px;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}
.experience{
    width:70%;
    height: auto;
    position: relative;
    margin: auto;
}
.experience ul{
    list-style: none;
}
.experience::after{
    position: absolute;
    content: ' ';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom,rgb(249, 249, 249),rgb(1,0.9,0.9));
}
.experience ul li{
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 1px 1px 25px rgba(91, 58, 122, 0.155);
    border-radius: 10px;
    margin-bottom: 30px;
}
.experience ul li:nth-child(odd){
    float: left;
    clear: right;
}
.experience ul li:nth-child(even){
    float: right;
    clear: left;
}
@media (max-width: 600px) {
    .experience{
        flex-direction: column;
    }
}